<p style="color: green"><%= notice %></p>

<h1>Calendar times</h1>

<div id="calendar_times">
  <% @calendar_times.each do |calendar_time| %>
    <%= render calendar_time %>
    <p>
      <%= link_to "Show this calendar time", calendar_time %>
    </p>
  <% end %>
</div>

<%= link_to "New calendar time", new_calendar_time_path %>
