<h1>Editing busy time</h1>

<%= render "form", busy_time: @busy_time %>

<br>

<div>
  <%= link_to "Show this busy time", @busy_time %> |
  <%= link_to "Back to busy times", busy_times_path %>
</div>
