<h1>Editing session suggestion</h1>

<%= render "form", session_suggestion: @session_suggestion %>

<br>

<div>
  <%= link_to "Show this session suggestion", @session_suggestion %> |
  <%= link_to "Back to session suggestions", session_suggestions_path %>
</div>
